/* font link*/
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
/* common styles */
    body{
    font-family: 'Poppins', sans-serif;
    background-color: white;

}
/* header start---------- */
    .container{
    background-color: black;
    margin-left: 210px;
    margin-right: 200px;
    margin-top: 90px;
    margin-bottom: 90px;
    padding: 30px;
    height: 500px;
    width: 1400px;
    border: 5px solid black;
    border-radius: 30px;
    
}
    .section{
    margin: 10px;
    display: flex;
    color: azure;
    width: 1350px;
    height: 520px;
  
    
 }
    .section h1{
        font-size: 50px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        
        
    }
    .section p{
        font-size:15px ;
        color: gainsboro;
        margin-bottom: 35px;
       
        
}

    .header-info{
    text-align: justify;
    margin: 20px;
    padding: 20px;
    width: 1000px;
    height: 400px;
    
}

    .header-image{
    
    width: 630px;
    height: 525px;
    
}

    .button{
    color: white;
    padding: 15px 20px;
    background: red;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 7%;
    margin-top: 20px;
    font-size: large;
}

    /* --------------------------------------header end -----------------------------------*/
    /* main start */

    .blogs{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    grid-template-rows: repeat(3,1fr);
    grid-gap:30px ;
    height: 1400px;
    width: 1040px;
    
    
}
    .play-section{ display: flex; 
    justify-content: center;
    width: 1860px;
    
    

}
    .navigation{
    background-color: black;
    height: 300px;
    width: 300px;
    padding-top: 16px;
    padding-right: 20px;
    padding-left:20px ;
    padding-bottom: 20px;
    margin-left: 30px;
    margin-right: 50px;
    margin-bottom: 25px;
    border-radius: 7%;
}
    .navigation-items{
    display:grid;
    grid-template-columns:repeat(1,1fr) ;
    grid-template-rows: repeat(3,1fr);
    grid-row-gap: 20px;
    padding: 10px;
    
   
}

    .navigation-button{
    color:black;
    padding: 25px 20px;
    background:white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: large;
    border-radius: 20px;

}
    #blog-nav{
    background-color: red;
    color: white;

}
    .thumbnail{
    
    padding: 5px;
    height: 380px;
}
    .thumbnail p{
    display: flex;

}


    .blog-button{
    color:black;
    padding: 3px;
    background:white;
    text-decoration: none;
    border: 1px solid rgb(116, 112, 112);
    border-radius: 5px;


}
.view-all{
    display: none;
}
/* main section end--------------------------------------- */
/* footer start  */
footer{
    background-color: black;
    color: white;
    height: 400px;
  
}
.footer-text{
    text-align: center;
    
}

.footer-items{
   margin-top: 100px;
   
}

.footer-items p>a{
    padding: 10px;
    font-size: 10px;

}
.footer-button{
color: white;
text-decoration: none;
}
.goal-item{
    width: 1500px ;
    justify-content: center;
    border-bottom:  1px solid rgba(255, 255, 255, 0.1);;
    margin-left: 150px;
    margin-top: 70px;
}
/* footer end  */


/* mobile device */
@media only screen and (max-width: 600px){

    /* header */
    .container{
        background-color: black;
        margin-left: 10px;
        margin-right: 20px;
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 30px;
        height: 900px;
        width: 490px;
        border: 5px solid black;
        border-radius: 30px;
        
    }
        .section{
            display: grid;
            grid-template-columns: (300px);
            grid-template-rows: repeat(300px,300px) ;
            margin: 5px;
            color: azure;
            width: 350px;
            height: 400px;
            justify-content: center;
     
        
     }
        .section h1{
            font-size: 20px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            height:60px;
            width:258px ;
            
            
        }
        .section p{
            font-size:20px ;
            color: gainsboro;
            margin-bottom: 35px;
            height: 50px;
            width: 50px;
           
            
    }
    
        .header-info{
        text-align: justify;
        
        margin-top: 38px ,28px;
        padding-left: 120px;
        margin-left: 110px;
        width: 180px;
        height: 178px;
        
    }
    
        .header-image{
        
        width: 300px;
        height: 347px;
        margin-top: 320px;
        margin-left: 240px;
        
    }
    
        .button{
        color: white;
        padding: 15px 20px;
        background: red;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 7%;
        margin-top: 20px;
        font-size: large;
    }
/* header end */
/* main */
    .play-section{ display: grid;
        grid-template-columns: 350px;
        grid-template-rows: repeat(10,400px);
        justify-content: center;
        width:500px;
        height: 5000px;
        
    }
 
    .blogs{
        display: grid;
        grid-template-columns:repeat(1,1fr) ;
        grid-template-rows: repeat(9,1fr);
        grid-gap:30px ;
        height: 4500px;
        width: 500px;
        
}

.navigation{
    background-color: black;
    height: 300px;
    width: 300px;
    padding-top: 16px;
    padding-right: 20px;
    padding-left:20px ;
    padding-bottom: 20px;
    margin-left: 30px;
    margin-right: 50px;
    margin-bottom: 25px;
    border-radius: 7%;
}
    .navigation-items{
    display:grid;
    grid-template-columns:repeat(1,1fr) ;
    grid-template-rows: repeat(3,1fr);
    grid-row-gap: 20px;
    padding: 10px;
    height: 250px;
    
   
}

    .navigation-button{
    color:black;
    padding: 25px 20px;
    background:white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: large;
    border-radius: 20px;
 

}
    #blog-nav{
    background-color: red;
    color: white;

}
    .thumbnail{
    
    padding: 30px;
    height: 380px;
}
    .thumbnail p{
    display: flex;

}
    .thumbnail input{
    border-radius: 5px;
    padding: 5px;
    width: 50;
}

    .blog-button{
    color:black;
    padding: 3px;
    background:white;
    text-decoration: none;
    border: 1px solid rgb(116, 112, 112);
    border-radius: 5px;


}
/* main end */
/* footer start */
footer {background-color: black;
color: white;
width: 580px;
height: 700px;

}
.footer-text{
text-align: center;

}

.footer-items{
margin-top: 100px;

}

.footer-items p>a{
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: repeat(6,100px);
    padding: 10px;
    font-size: 10px;

}
.footer-button{
color: white;
text-decoration: none;
height: 50px;
margin-left: 150px;
padding-left: 150px;
}
.goal-item{
width: 400px ;
justify-content: center;
border-bottom:  1px solid rgba(255, 255, 255, 0.1);;
margin-left: 50px;
margin-top: 40px;
}

/* footer end----------- */


}

    